<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/index.css">
    <link rel="stylesheet" href="../public/icons/fontawesome-free-6.2.0-web/css/all.min.css">
    <title>Registration</title>
    <script src="../public/js/registration.js"></script>
</head>
<body>
    <div class="wrapper wrapper--registration">
        <div class="container container--form-registration">
            <h2 class="title-form signup-text">Регистрация</h2>
            <form class="form-regist" action="" method="post">
                <input name="name" class="form-regist__input" required placeholder="Придумайте имя" type="text">
                <input type="email" class="form-regist__input" required placeholder="Введите ваш e-mail" name="email" >
                <input name="password" class="form-regist__input" required placeholder="Придумайте пароль" type="password">
                <input name="password-copy" class="form-regist__input" required placeholder="Повторите пароль" type="password">

                <div class="checkbox">
                    <input name="check" id="checkbox-input" checked type="checkbox">
                    <label for="checkbox-input">Запомнить меня на этом сайте</label>
                </div>
                <p class="form-regist__error"></p>
                <button class="form-regist__button-req" type="submit">Зарегестрироваться</button>
                <a class="form-regist__login-link" href="./authorization.html">Войти</a>
            </form>
        </div>
        <div class="container container--form-confirm container--hidden">
            <h2 class="title-form Confirm-text">Подтвердить e-mail</h2>
                <form class="form-confirm" action=" ">
                    <p class="form-confirm__text">На ваш email <span></span> был отправлен код подтверждения, пожалуйсто введите его</p>
                    <input class="form-confirm__input" type="number">
            </form>
        </div>
    </div>
</body>
</html>